* {
  box-sizing: border-box;
}

:root {
  --shadow-grey: #32292F;
  --charcoal: #575366;
  --grey-blue: #6E7DAB;
  --slate-indigo: #5762D5;
  --frozen-water: #E7E8D1;
  --charcoal-functional-btn: #4c4956;
  /* #D1E3DD */

  --shadow:
  inset 0 1px 2px #ffffff30,
  0 4px 8px #00000030,
  0 8px 16px #00000015;
}

body {
  background-color: var(--frozen-water);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column; 
  position: absolute; 
  top: 80px;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
  background-color: var(--shadow-grey);
  border-radius: 17px;
  height: 750px;
  padding: 2% 2% 1% 2%;
  box-shadow: var(--shadow);
}

.container-testo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  padding: 1% 2%;
  height: 75px;
  flex-wrap: nowrap;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.container-testo h1 {
  margin: 0 1% 0 1%;
  text-wrap: nowrap;
}

.display-risultato {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--slate-indigo);
  width: 100%;
  border-radius: 10px;
  padding: 1% 2%;
  margin: 2% 0% 1% 0%;
  height: 100px;
  font-size: 24px;
  box-shadow: var(--shadow);
}

.griglia-tasti{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  margin-top: 30px;
}

.calculator-btn{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--charcoal);
  font-size: 24px;
  color: white;
  border: none;
  transition: all 0.5s;
  box-shadow: var(--shadow);
}

.func_btns{
  background-color: var(--charcoal-functional-btn);
}


.calculator-btn:hover {
  background-color: oklch(from var(--charcoal) calc(l/2 + .3) c h);
  transform: scale(1.04);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.func_btns:hover {
  background-color: oklch(from var(--charcoal-functional-btn) calc(l/2 + .1) c h);
}


.calculator-btn:active {
  background-color: oklch(from var(--charcoal) calc(l/2 + .26) c h);
  transform: scale(1.00);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 5px 19px 0px;
}

.func_btns:active{
  background-color: oklch(from var(--charcoal-functional-btn) calc(l/2 + .08) c h);
}


 .uguale {
  background-color: var(--grey-blue);
 }

 .uguale:hover{
  background-color: oklch(from var(--grey-blue) calc(l/2 + .36) c h);
 }

  .uguale:active{
  background-color: oklch(from var(--grey-blue) calc(l/2 + .32) c h);
 }